<html>
    <body>
        <form action="" method = "">
            <input type="text" name = "a_word" value="<%= params[:a_word] %>">
            <input type="submit" value="try it">
        </form>
    </body>
</html>